<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBapplication.Properties.Settings.ConnectionString"
            connectionString="Data Source=.;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBapplication.Properties.Settings.CharityDBConnectionString"
            connectionString="Data Source=DESKTOP\SQLEXPRESS;Initial Catalog=CharityDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBapplication.Properties.Settings.CharityDBConnectionString1"
            connectionString="Data Source=DESKTOP-SM12V1I\SQLEXPRESS;Initial Catalog=CharityDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
